header {
    text-align:center;
}

body {
    /* letter size */
    width: 8.5in;
    min-height: 11in;
    margin: 0.5in auto; /* margins */
    padding: 1in; /* margins */
    padding-top:0.25in;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.2); 
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    line-height:0.75;
  }

#intro {
    line-height:1.25;
}
   

hr {
    background-color: black;
    border: none;
    height: 1.5px;
    margin:0;
}

ul {
    padding-left:1em;
}

p {
  font-size:12px;
}